* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100vh;
    background-color:#00a3ac;
    background-position: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.bat {
    position: fixed;
    background-color: #00407f;
    height: 100px;
    width: 1550px;
    top:0px;
    z-index: 1;
    
}

.logo2 {
    position:absolute;
    width: 750px;
    top: 9.0%;
    left: 26.25%;
}

.modoru {
    position: fixed;;
    font-size: 65px;
    top:0px;
    z-index: 2;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family: 'Noto Sans JP', sans-serif;
    left:25px;
    text-shadow: 
    3px 3px 0 #000000,
    -1px -1px 0 #000000,  
    1px -1px 0 #000000,
    -1px 1px 0 #000000,
    1px 1px 0 #000000;
}

.logo {
    position: fixed;;
    font-size: 65px;
    top:4.8px;
    right: 50px;
    z-index: 2;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family: 'Noto Sans JP', sans-serif;
    width: 92.5px;
    height: 92.5px;
}

.box3 {
    position: relative;
    top: 120px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.box2 {
    position: relative;
    padding: 0.5em 1em;
    margin: 2em 0;
    font-weight: bold;
    color: #000000;/*文字色*/
    background: #FFF;
    border: solid 6px #000000;/*線*/
    border-radius: 25px;/*角の丸み*/
    top: 25px;
    font-family: 'Noto Sans JP', sans-serif;
}
.box2 p {
    margin: 0; 
    padding: 0;
    font-size: 32px;
    font-family: 'RocknRoll One', sans-serif;
}

.i2 {
    color:#0068b7;
    text-decoration:underline #0068b7
}

.i2:active {
    color:#b70000;
    text-decoration:underline #b70000
}

.buttons {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}